
<!-- <button mat-button color="primary">Primary</button> -->
<!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-icon>search</mat-icon>
    <input matInput placeholder="search..." >
</mat-form-field> -->

<!-- <label class="mdc-text-field mdc-text-field--filled">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="my-label-id">Hint text</span>
    <mat-icon>search</mat-icon>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
    <span class="mdc-line-ripple"></span>
</label> -->

<!-- <mat-icon>search</mat-icon> -->

<div class="container">
<!-- \//-- -->
    <!-- <div class="search-cont"> -->
        <!-- <mat-icon>search</mat-icon>
        <mat-form-field class="example-full-width" appearance="fill">
            <input class="search-input" matInput placeholder="search..." >
        </mat-form-field> -->
    <!-- </div> -->

<!-- \//-- -->

    <div class="search">
        <mat-icon class="search-icon">search</mat-icon>
        <input type="text" class="input" [(ngModel)]="searchResults" placeholder="Search...">
        <br>
        <!-- <p>Results: 9 </p> -->
    </div>
    <div class="row">
        <a class="content-wrappeer">
            <div *ngFor="let article of news | filterpipe: searchResults" class="content-card">    
                <div class="img_item"><img src="{{article.imageUrl}}" ></div>
                <p><small>{{article.updatedAt | date}}</small></p>
                <h3 class="title">{{article.title}}</h3>
                <p class="text"> {{article.summary.slice(0, 100)}}...</p>
                <h5 class="read-more" [routerLink]="['/posts', article.id]" (click)="getPost(article.id)">Read more... &#8594;</h5>
            </div>
        </a>
    </div>
</div>

